.context-menu {
    display: block;
    position: absolute;
    background: lightgray;
    border-style: solid;
    border-color: transparent;
    cursor: context-menu;
    z-index: 1000;
}

.context-menu ul {
    display: block;
    text-align: left;
    position: absolute;
    padding-left: 0px;
    min-width: 150px;
    list-style: none;
    box-shadow: 6px 6px 20px 3px rgba(45, 45, 45, 0.8);
    margin-top: 0px;
    margin-bottom: 0px;
}

.context-menu ul li {
    display: flex;
    text-align: center;
    padding-bottom: 7px;
    padding-top: 7px;
    background-color: rgb(230, 230, 230);
}

.context-menu ul li:hover {
    background-color: rgba(174, 255, 255, 230);
}

.context-menu li img#folderIconImage {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.context-menu li img#FileIconImage {
    width: 21px;
    height: 21px;
    padding-right: 10px;
}

.context-menu .songContext {
  display: block;
  position: absolute;
  width: 1500px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
