#borderWithSongs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    top: 100px;
    left: 400px;
    right: 0;
    overflow-y: scroll;
    box-shadow: -1px 7px 30px 2px rgba(45, 45, 45, 0.8);
    height: auto; /* Let the content define the height */
    max-height: calc(100vh - 230px); /* Maximum height based on viewport */
    min-height: 350px;
}

#metadataContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.songContainer:hover {
    background-color: rgb(184, 252, 255);
}

.songContainer.highlighted {
    background-color: rgb(0, 170, 255);
}

.textMetadataStyles.highlightedText {
    font-weight: bold;
    color: white !important;
}

.imageMetadataStyles.highlightedImage {
    width: 78% !important;
    height: 57% !important;
}

#borderWithSongs #hiddenMusicText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#borderWithSongs #hiddenMusicText > p {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    word-wrap: break-word;
}

#borderWithSongs #hiddenMusicText > img {
    display: block;
    margin: 10px auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}

.leftSideMenu {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#ComputerText {
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
}

.MyMusic {
    display: inline-block;
    min-width: 18vw;
    max-width: fit-content;
    text-align: left;
    font-size: 17px;
    margin-top: 3vh;
    text-decoration: none;
    color: black;
    border: none;
    position: relative;
}

.MyMusic:hover {
    background-color: rgb(210, 255, 255);
    text-decoration: none;
    align-items: center;
}

.MyMusic > img {
    margin-right: 1vh;
    width: 15px;
    height: 18px;
}
